#store-tree {
  width: 250px;
  border-right: 1px solid rgba(0,0,0,.1);
  position: absolute;
}

#store-products {
  width: 300px;
  right: 300px;
  margin-left: auto;
  margin-top: 25px;
  position: absolute;
}

#store-cart-block {
  position: absolute;
  right: 10px;
  margin-top: 5px;
}
