<!--<div>-->
<!--<button *ngFor="let category of categories"-->
<!--[class.active]="category == selectedCategory"-->
<!--(click)="changeCategory(category)">-->
<!--{{ category }}-->
<!--</button>-->
<!--</div>-->

<div id="store-cart-block">
  <a>Welcome to our book store</a>
  <cart-summary></cart-summary>
</div>


<div id="store-products">
  <cs-products></cs-products>
</div>

<div class="row" id="store-tree">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="form-group">
          <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event">
          </ngx-treeview>
        </div>
      </div>
    </div>
  </div>
</div>
