#store-tree {
  margin-top: 20px;
  left: 5px;
  width: 250px;
  border-right: 1px solid rgba(0,0,0,.1);
  position: absolute;
}

#store-products {
  width: 650px;
  height: 50px;
  right: 220px;
  margin-left: auto;
  margin-top: 5px;
  position: absolute;
}

.product-description {
  height: 100px;
  margin-bottom: 10px;
}

.store-product {
  margin-bottom: 50px;
}

