
<div>
  <a>STORE</a>
</div>
<div *ngIf="orderSent">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button routerLink="/store">Return to Store</button>
</div>
<form *ngIf="!orderSent" #form="ngForm" novalidate
      (ngSubmit)="submitOrder(form)">
  <div>
    <label>Name</label>
    <input #name="ngModel" name="name"
           [(ngModel)]="order.name" required />
    <span  *ngIf="submitted && name.invalid">
            Please enter your name
        </span>
  </div>
  <div>
    <label>Address</label>
    <input #address="ngModel" name="address"
           [(ngModel)]="order.address" required />
    <span  *ngIf="submitted && address.invalid">
            Please enter your address
        </span>
  </div>
  <div>
    <label>City</label>
    <input #city="ngModel" name="city"
           [(ngModel)]="order.city" required />
    <span  *ngIf="submitted && city.invalid">
            Please enter your city
        </span>
  </div>
  <div>
    <label>State</label>
    <input #state="ngModel" name="state"
           [(ngModel)]="order.state" required />
    <span  *ngIf="submitted && state.invalid">
            Please enter your state
        </span>
  </div>
  <div>
    <label>Zip/Postal Code</label>
    <input #zip="ngModel" name="zip"
           [(ngModel)]="order.zip" required />
    <span  *ngIf="submitted && zip.invalid">
            Please enter your zip/postal code
        </span>
  </div>
  <div>
    <label>Country</label>
    <input #country="ngModel" name="country"
           [(ngModel)]="order.country" required />
    <span  *ngIf="submitted && country.invalid">
            Please enter your country
        </span>
  </div>
  <div>
    <button routerLink="/cart">Back</button>
    <button type="submit">Complete Order</button>
  </div>
</form>
