<div *ngIf="orderSent" id="success-order">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button routerLink="/store">Return to Store</button>
</div>

<form *ngIf="!orderSent" #form="ngForm" novalidate
      (ngSubmit)="submitOrder(form)">
  <div>
    <label>Имя</label>
    <input #name="ngModel" name="name"
           [(ngModel)]="order.name" required />
    <span  *ngIf="submitted && name.invalid">
            Please enter your name
        </span>
  </div>

  <div>
    <label>Адрес</label>
    <input #address="ngModel" name="address"
           [(ngModel)]="order.address" required />
    <span  *ngIf="submitted && address.invalid">
            Please enter your address
        </span>
  </div>

  <div>
    <button routerLink="/cart">Вернуться назад</button>
    <button type="submit">Сделать заказ</button>
  </div>

</form>
