<nav class="nav-extended grey darken-4 5 z-depth-2" >
  <div class="nav-wrapper ">
    <a class="brand-logo" (click)="goHome()">E-Distributed</a>
    <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
    <ul id="nav-mobile" class="right hide-on-med-and-down ">

      <li><a class="link-front-color"
             (click)="goLogin()"
             *ngIf="!this.logged"
      >Логин</a>
      </li>

      <li><a class="link-front-color top-right"
             (click)="goRegistration()"
             *ngIf="!this.logged"
      >Регистрация</a>
      </li>

      <li class="tab disabled" *ngIf="this.logged">
        <a>Вы зашли под именем {{ getName }}</a>
      </li>

      <li class="tab disabled"*ngIf="this.logged">
        <a (click)="this.login.logout()">Выйти</a>
      </li>

    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li><a class="link-front-color top-right" (click)="goStore()">Магазин</a></li>
      <li><a class="link-front-color" (click)="goChat()">Чат</a></li>
      <li><a class="link-front-color" >Учебные материалы</a></li>
    </ul>
  </div>
</nav>
