<nav class="nav-extended grey darken-4 5 z-depth-2" >
  <div class="nav-wrapper ">
    <a class="brand-logo" (click)="goHome()">E-Distributed</a>
    <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
    <ul id="nav-mobile" class="right hide-on-med-and-down ">

      <li><a class="link-front-color"
             (click)="goLogin()"
             *ngIf="!this.login.check"
          >Логин</a>
      </li>

      <li><a class="link-front-color top-right"
             (click)="goRegistration()"
             *ngIf="!this.login.check"
          >Регистрация</a>
      </li>

      <li class="tab disabled" *ngIf="this.login.check">
        <a>Вы зашли под именем {{ this.cookie.get("username") }}</a>
      </li>

      <li><a class="tab disabled"
             (click)="goAdmin()"
             *ngIf="this.login.checkkAdmin"
      >Администрирование</a>
      </li>


      <li class="tab disabled" *ngIf="this.login.check">
        <a (click)="this.login.logout()">Выйти</a>
      </li>

    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li><a class="link-front-color top-right" (click)="goStore()">Магазин</a></li>
      <li><a class="link-front-color" (click)="goChat()">Чат</a></li>
      <li><a class="link-front-color" >Учебные материалы</a></li>
    </ul>
  </div>
</nav>

<router-outlet class="central-page">

</router-outlet>
<!--routerLinkActive="activated" Посмотреть и использовать для нав бара-->
