<div id="over-chat">
  <div class="menu">
    <div class="name">Group Chat</div>
  </div>

  <ol class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="messages.length > 0">
    <li [ngClass]="{'self': message.username == username, 'other': message.userId != user }" *ngFor="let message of messages">
      <div class="msg">
        <div class="user">{{ message.username }}<span class="range admin">Dev</span></div>
        <p> {{ message.text }} </p>
        <time>{{ message.date }}</time>
      </div>
    </li>
  </ol>

  <div class="typezone">
    <form>
      <textarea type="text" #msgInput (keydown.enter)="sendMessage(msgInput.value);false;msgInput.value='';" placeholder="Say something"></textarea>
      <input type="submit" class="send" value="" (click)="sendMessage(msgInput.value)"/>
    </form>

    <div class="emojis"></div>
  </div>

</div>
