<img id="login-image" src="{{ this.imageSource }}">
<p id="join-community">Join Our Community</p>
<p id="join-logo">Blockchain Stock</p>

<div id="registration-page" class="row cs-login">
  <form class="col s12" (ngSubmit)="register()" novalidate [formGroup]="regForm">

    <div class="row">
      <div class="input-field col s16">
        <i class="material-icons prefix login-icon">person</i>
        <input
               id              = "login"
               type            = "text"
               class           = "validate"
               formControlName = "login"
               [(ngModel)]     = "user.login"
        >
        <label for="login">Login</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s16">
        <i class="material-icons prefix login-icon">email</i>
        <input
               placeholder     = "example@mail.ru"
               id              = "email"
               type            = "email"
               formControlName = "email"
               class           = "validate"
               [(ngModel)]     = "user.email"
        >
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s16">
        <i class="material-icons prefix login-icon">security</i>
        <input
              id              = "password"
              formControlName = "password"
              type            = "password"
              class           = "validate"
              [(ngModel)]     = "user.password"
              [class.invalid] = "regForm.controls['password'].invalid && regForm.controls['password'].touched"
        >
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row" id="confirm-block">
      <div class="input-field col s16">
        <input
               id              = "password-confirm"
               type            = "password"
               class           = "validate"
               formControlName = "confirmPassword"
               [(ngModel)]     = "user.passwordConfirm"
               [class.invalid] = "regForm.controls['confirmPassword']
                                         .hasError('matchPassword') && regForm.controls['confirmPassword']
                                                                              .touched"
        >
        <label for="password-confirm">Confirm password</label>
      </div>
    </div>

    <p id="agreement-check">
      <input
             type            = "checkbox"
             class           = " indigo lighten-2filled-in"
             id              = "filled-in-box"
             formControlName = "agreement"
             [(ngModel)]     = "user.agreement"

      >
      <label for="filled-in-box">I accept the user's request</label>
    </p>

    <button
            id         = "registration-button"
            class      = "indigo lighten-2 waves-effect waves-light"
            type       = "submit"
            [disabled] = "regForm.invalid || loading"
    >
      Submit
      <i class="material-icons right  ">send</i>
    </button>

  </form>
</div>
